/* Variables */

$text-logo: 'Wisdom Script', sans-serif;
$text-serif: 'Droid Serif', sans-serif;
$text-sans: 'Montserrat', sans-serif;
$text-desc: 'Roboto Slab', serif;

$font-xs: 14px;
$font-s: 16px;
$font-m: 18px;
$font-l: 26px;
$font-xl: 40px;
$font-xxl: 75px;

$color-yellow: #fed136;
$color-dark: #222222;
$color-gray: #777777;
$color-darker-gray: #737373;
$color-footer: #555555;
$color-light: #f7f7f7;
$color-white: #ffffff;

/* Globals */

section {
    padding: 120px 0;
}

.title, .subtitle {
    text-align: center;
}

.title {
    font-family: $text-sans;
    font-weight: 700;
    color: $color-dark;
    font-size: $font-xl;
    margin-bottom: 20px;
}

.subtitle {
    font-family: $text-serif;
    color: $color-gray;
    font-style: italic;
    font-size: $font-s;
    margin-bottom: 80px;
}

.title-small {
    font-family: $text-sans;
    font-weight: 700;
    font-size: $font-m;
    color: $color-dark;
}

.description {
    font-family: $text-desc;
    font-weight: 400;
    font-size: $font-xs;
    color: $color-gray;
}

/* Header */

header {
    position: relative;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/hero.png");
    background-color: #948F82;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}

/* Navigation */

nav {
    padding-top: 40px;
}

.logo {
    font-family: $text-logo;
    font-size: $font-l;
    color: $color-yellow;
}

.menu {
    width: 100%;
}

.menu li {
    font-family: $text-sans;
    font-size: $font-xs;
    font-weight: 400;

    a {
        text-decoration: none;
        color: $color-white;
    }
}

/* Intro */

.intro {
    text-align: center;
    color: $color-white;
    padding: 160px 0;

    h2 {
        font-family: $text-serif;
        font-size: $font-xl;
        font-style: italic;
    }

    h1 {
        font-family: $text-sans;
        font-size: $font-xxl;
        font-weight: 700;
        margin: 50px 0 60px;
    }

    .btn-intro {
        background-color: $color-yellow;
        color: $color-white;
        padding: 25px 50px;
        text-decoration: none;
        font-family: $text-sans;
        font-weight: 700;
        font-size: $font-m;
        border-radius: 5px;
        transition: all .5s;
    }

    .btn-intro:hover {
        background-color: #204F89;
    }
}

/* Services */

.services {
    text-align: center;

    #icon-basket, #icon-laptop {
        width: 40px;
    }

    #icon-locked {
        width: 30px;
    }

    img {
        display: block;
    }

    .image {
        border: 2px solid $color-yellow;
        width: 68px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-bottom: 30px;
        transition: all .4s;
    }

    .title-small {
        margin-bottom: 15px;
    }

    .description {
        max-width: 290px;
    }

    .service {
        box-shadow: 0px 0px 0px $color-darker-gray;
        transition: all .4s;
        padding: 25px 15px;
    }

    .service:hover {
        box-shadow: 5px 5px 15px $color-darker-gray;
    }

    .service:hover > .image {
        transform: scale(125%);
    }

    .subtitle {
        margin-bottom: 55px;
    }

}